@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginViewModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
<div class="container pb-2">
    <form method="post" asp-action="Login">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" value="@Model.UserName" 
                type="text" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group pb-2">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" value="@Model.Password" 
                type="password" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary col-12">Login</button>
    </form>
</div>